body{
  overflow: hidden;
  margin: 0;
  background-color: #600080;
}
.text {
  position: absolute;
  top: -65vh;
  width: 100%;
  text-align: center;
  z-index: -999;
}
.retro {
  font-size: 140vh;
  display: block;
  color: #600080;
  text-shadow: 0 0 0.25vh #7f64aa, 0 0 0.5vh #7f64aa, 0 0 0.5vh #7f64aa, 0 0 1vh #7f64aa, 0 0 2vh #7f64aa;
}